body{}
caption{background-color: coral;font-weight: bold;}
#titulo{font-size: 15px;}
#palabra1{color: tomato;}
#palabra2{color: teal;}
#palabra3{ font-weight: bold}
#palabra4{color: darkgoldenrod;text-align: left;}
#tachado{text-decoration: line-through;}
#th1{border: black 1px solid;border-collapse:collapse}
#table2{border: transparent;}
#palabra5{text-align: center;font-weight: bold;}
